*{ /* universal selector */
    margin: 10;
    padding: 20;
}
h1,h2,h3{ /* grouping selectors */
    color:orange;
    background-color:blue;
    align-items:center;
    font-family:'Times New Roman', Times, serif;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:crimson;
    background-color:lightblue;
    font-size:20px;    

}